@{
    ViewBag.Title = "DL";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<h1 style="text-align: center">DANH SÁCH GIÁO VIÊN KHOA ĐỘNG LỰC</h1>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Cán Bộ</th>
            <th>Chức Vụ</th>
            <th>Học Hàm</th>
            <th>Học Vị</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd gradeX">
            <td>1</td>
            <td>Vũ Đức Lập</td>
            <td>Giáo viên bộ môn ô tô</td>
            <td class="center">GV</td>
            <td class="center">TS</td>
        </tr>
        <tr class="even gradeC">
            <td>2</td>
            <td>Lại Văn Định</td>
            <td>Giáo viên</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="odd gradeA">
            <td>3</td>
            <td>Nguyễn Văn Tần</td>
            <td>Giáo viên</td>
            <td class="center">NGƯT</td>
            <td class="center">PGS-TS</td>
        </tr>
        <tr class="even gradeA">
            <td>4</td>
            <td>Hà Quang Minh</td>
            <td>Giáo viên bộ môn động cơ</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="odd gradeA">
            <td>5</td>
            <td>Nguyễn Hoàng Nam</td>
            <td>Giáo viên</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="even gradeA">
            <td>6</td>
            <td>Đào Trọng Thắng</td>
            <td>Giáo viên bộ môn động cơ</td>
            <td class="center">GS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="gradeA">
            <td>7</td>
            <td>Vy Hữu Thành</td>
            <td>Giáo viên bộ môn động cơ</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="gradeA">
            <td>8</td>
            <td>Chu Văn Đạt</td>
            <td>Bí thư đảng ủy khoa động lực</td>
            <td class="center">NGƯT</td>
            <td class="center">TS</td>
        </tr>
        <tr class="gradeA">
            <td>9</td>
            <td>Trần Quang Hùng</td>
            <td>Giáo viên bộ môn máy xây dựng</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="gradeA">
            <td>10</td>
            <td>Lê Trung Dũng</td>
            <td>Giáo viên bộ môn</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="gradeA">
            <td>11</td>
            <td>Nguyễn Hoàng Vũ</td>
            <td>Trưởng phòng thông tin khoa học Quân sự</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
        <tr class="gradeA">
            <td>12</td>
            <td>Nguyễn Văn Dũng</td>
            <td>Chủ nhiệm khoa động lực</td>
            <td class="center">PGS</td>
            <td class="center">TS</td>
        </tr>
    </tbody>
</table>
